/* Very Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
  .services__list {
    padding: 1% 7%;

  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 18px;
  }


}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  html {
    font-size: 16px;
  }

  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .profile__picture-container-outer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-height: 50vh;
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .profile__picture-container-inner {
    height: 50vh;
  }

  .profile__text-container-outer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; // width:50%;
    min-height: 50vh;
    width: 100%;

    -webkit-box-ordinal-group: 2;

        -ms-flex-order: 1;

            order: 1;
    height: auto;
  }
  .profile__text-container-inner {
    min-height: auto;
  }
  .profile__heading {
    margin: 0.5rem 0;
  }
  .profile__paragraph {
    margin-bottom: 1rem;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .header__smallText {
    font-size: 0.8rem;
  }
  .header__bigText {
    font-size: 2.5rem;
  }
  .profile__heading{
    font-size:3rem;
  }
  .profile__text-container-inner{
    padding: 0 10%;
  }
  .profile__paragraph{
    margin: 0;
  }
  .profile__link-container{
    padding-left: 10%;
    margin: 1rem 0;
  }
  .profile__contact-link-wrapper{
    width:45%
  }
  .profile__resume-link-wrapper{
    width:45%
  }
  .services__header{
    font-size:3rem;
  }
  .services__list{
    padding:1% 0;
  }
}
