@font-face {
  font-family: Gabo;
  src: url(../public/gabo.otf);
}
@font-face {
  font-family: Droid-regular;
  src: url(../public/DroidSans-Regular.ttf)
}

@font-face {
  font-family: Droid-bold;
  src: url(../public/DroidSans-Bold.ttf)
}

* {
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  }

html {
  min-height: 100%; }

body {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
    #2EC4B6,
    #E71D36,
    #FF9F1C
  );
  background-size: 200% 200%;
  background-position: 0 0;
  animation: border 5s linear infinite;
  border: 2.5vw solid #011627;
  -webkit-font-smoothing: antialiased;
  }
  body:after {
    content: "";
    background: #011627;
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    bottom: 0.5vw;
    left: 0.5vw;
  border-radius: 5px;  
    }

/* Main */


.mainText{
  margin-top:4%;
  color:#FDFFFC;
  font-family: Droid-regular;
}

.mainText p{
  text-align: justify;
}

.bold {
  font-family: Droid-bold;
}

#mainHeadline{
  text-align: center;
  margin-top:5%;
  color: #FDFFFC;
  font-family: Gabo;
  text-transform: uppercase;
}

#mainHeadline h1{
  font-size: 4rem;
  line-height: 5vw;
  font-weight: 500;
  letter-spacing: 0.30vw;
  font-style: italic;
  transform: rotate(-7deg); 
}

#mainHeadline span {
  background: -webkit-linear-gradient(#E71D36, #FF9F1C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
}

#mainHeadline h2{
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  transform: rotate(-7deg);
  letter-spacing: 0.30vw  
}

/* SOCIAL ICONS */
.fa-li{
  color: #2EC4B6;
}

.middle{
  margin: 0;
  text-align: center;
  align-items: baseline;
}

/* GENERAL */
div {
  position: relative;
  z-index: 10; 
}

ul{
  list-style:none;
}


/* FRAME */
@keyframes border {
  0% {
    background-position: 0 0;
    }

   25% {
    background-position: 100% 0; }

  50% {
    background-position: 100% 100%; } 

  75% {
    background-position: 0 100%;
    }

  100% {
    background-position: 0 0; } 
  }

/* FOOTER  */


.social{
  text-align:center;
}

.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color:#FDFFFC;
}
.fa-linkedin:hover {
  color: #0077B5;
}

.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color:#FDFFFC;
}

.fa-github:hover {
  color: #800080;
}
.fa-envelope {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color:#FDFFFC;
}
.fa-envelope:hover {
  color: #008000;
}

ul.social-icons{
  height:inherit;
}
/* MEDIA QUERIES   */
@media all and (max-width: 640px) {
  #mainHeadline h1 {
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 7.5vw;
    margin-top:8%;

  }

    #mainHeadline h2 {
      font-size: 1.3rem;
      line-height: 7.5vw;
      padding-left: 5vw; 
    letter-spacing: 0.8vw;    
  }

  .mainText{
    padding-top:2%;    
  }
  .mainText h1{
    text-align: center;
    font-size: 1.2rem;
    
  }
  .mainText p{
    font-size:1rem; 
    margin-bottom:10px;
    line-height: 5vw;
    
  }
  .hideOnSmall{
    display:none;
  }
  .social-icons{  
    text-align: center;
    margin-top: -7%;
  }

  .social-icons li {
    display: inline-block;
  }
  .fa-3x {
    font-size: 2rem !important; 
}
  }


  @media all and (min-width: 641px) and (max-width: 1234px) {
   
    #mainHeadline h1 {
      font-size: 3rem;
    margin-top:8%;    
    }

      #mainHeadline h2 {
        font-size: 2rem;
    }

    .mainText h1{
      font-size: 1.5rem;
    }

    .mainText {
      font-size:1rem; 
    }

  
   
  }

  